
#title {
  color:red;
  font-size:15pt;
}

#body{
  color:green;
  font-size:12pt;
}

#floater {
  position: relative;
  left: 20px;
  top: 50px;
  background-color: rgb(38, 0, 128);
  width: 1000px;
  height: 100px;
}

